@media screen and (max-width: 767px) {
   .dropdown {
      margin-top: 20px;
      &__header {
         height: 30px;
         padding: 10px;
         &__title {
            font-size: 13px;
         }
         &__button {
            width: 16px;
            height: 16px;
         }
      }
      &__content {
         font-size: 12px;
         padding: 20px;
      }
   }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
   .dropdown {
      margin-top: 30px;
      &__header {
         height: 45px;
         padding: 15px;
         &__title {
            font-size: 18px;
         }
         &__button {
            width: 24px;
            height: 24px;
         }
      }
      &__content {
         font-size: 18px;
         padding: 20px;
      }
   }
}
@media screen and (min-width: 1024px) {
   .dropdown {
      margin-top: 30px;
      &__header {
         height: 52px;
         padding: 10px 20px 10px 15px;
         &__title {
            font-size: 24px;
         }
         &__button {
            width: 32px;
            height: 32px;
         }
      }
      &__content {
         font-size: 18px;
         padding: 25px 20px 20px 15px;
      }
   }
}
.dropdown {
   position: relative;
   width: 100%;
   display: flex;
   flex-direction: column;
   &__header {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #ff6060;
      border-radius: 5px;
      z-index: 100;
      cursor: pointer;
      &__title {
         font-weight: 700;
         color: #fff;
      }
      &__button {
         display: flex;
         justify-content: center;
         align-items: center;
         img {
            width: 100%;
         }
      }
   }
   &__content {
      position: relative;
      width: 100%;
      height: auto;
      background-color: rgba($color: #f6f6f6, $alpha: 0.45);
      top: -5px;
      border-radius: 0 0 5px 5px;
      font-weight: 400;
      line-height: 25px;
      p {
         margin: 0;
      }
      ul {
         list-style: none;
         margin: 0;
         padding: 0;
      }
   }
}
