.tag {
   width: 115px;
   height: 25px;
   border-radius: 10px;
   background-color: #ff6060;
   color: #fff;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 14px;
   font-weight: 700;
}
