@media screen and (max-width: 767px) {
   .star {
      width: 18px;
      height: 18px;
      img {
         width: 72%;
      }
   }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
   .star {
      width: 24px;
      height: 24px;
      img {
         width: 68%;
      }
   }
}
@media screen and (min-width: 1024px) {
   .star {
      width: 36px;
      height: 36px;
      img {
         width: 66%;
      }
   }
}

.star {
   display: flex;
   justify-content: center;
   align-items: center;
   img {
      aspect-ratio: 1/1;
   }
}
