@media screen and (max-width: 767px) {
   .card {
      aspect-ratio: 31 / 24;
      figure {
         img {
            height: 75%;
         }
         figcaption {
            height: 25%;
            padding: 15px 20px;
         }
      }
   }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
   .card {
      aspect-ratio: 31 / 26;
      figure {
         img {
            height: 74%;
         }
         figcaption {
            height: 26%;
            padding: 10px 20px;
         }
      }
   }
}
@media screen and (min-width: 1024px) {
   .card {
      aspect-ratio: 1 / 1;
      figure {
         img {
            height: 73%;
         }
         figcaption {
            height: 27%;
            padding: 20px;
         }
      }
   }
}
.card {
   width: 100%;
   border-radius: 10px;
   background-color: #ff6060;
   overflow: hidden;
   figure {
      width: 100%;
      height: 100%;
      margin: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      img {
         width: 100%;
         object-fit: cover;
      }
      figcaption {
         color: #fff;
         font-size: 18px;
         font-weight: 700;
         width: 100%;
         display: flex;
         justify-content: flex-start;
         align-items: center;
         flex-wrap: wrap;
      }
   }
}
