@media screen and (max-width: 767px) {
   .card {
      aspect-ratio: 31 / 24;
      .film {
         background: linear-gradient(
            rgba(255, 255, 255, 0) 25%,
            rgba(135, 135, 135, 0.05) 60%,
            rgba(0, 0, 0, 0.08) 90%,
            rgba(0, 0, 0, 0.15) 100%
         );
      }
      figure {
         img {
            height: 75%;
         }
         figcaption {
            height: 25%;
            padding: 15px 20px;
         }
      }
   }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
   .card {
      aspect-ratio: 31 / 26;
      .film {
         background: linear-gradient(
            rgba(255, 255, 255, 0) 25%,
            rgba(135, 135, 135, 0.05) 60%,
            rgba(0, 0, 0, 0.09) 90%,
            rgba(0, 0, 0, 0.2) 100%
         );
      }
      figure {
         img {
            height: 74%;
         }
         figcaption {
            height: 26%;
            padding: 10px 20px;
         }
      }
   }
}
@media screen and (min-width: 1024px) {
   .card {
      aspect-ratio: 1 / 1;
      .film {
         background: linear-gradient(
            rgba(255, 255, 255, 0) 25%,
            rgba(135, 135, 135, 0.05) 60%,
            rgba(0, 0, 0, 0.1) 90%,
            rgba(0, 0, 0, 0.25) 100%
         );
      }
      figure {
         img {
            height: 73%;
         }
         figcaption {
            height: 27%;
            padding: 20px;
         }
      }
   }
}
.card {
   width: 100%;
   border-radius: 10px;
   position: relative;
   overflow: hidden;
   .film {
      position: absolute;
      width: 100%;
      height: 100%;
      margin: 0;
      top: 0;
      left: 0;
      display: block;
      z-index: 1;
   }
   figure {
      width: 100%;
      height: 100%;
      margin: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      position: relative;
      z-index: 0;
      img {
         width: 100%;
         object-fit: cover;
      }
      figcaption {
         background-color: #ff6060;
         color: #fff;
         font-size: 18px;
         font-weight: 700;
         width: 100%;
         display: flex;
         justify-content: flex-start;
         align-items: center;
         flex-wrap: wrap;
      }
   }
}
