@media screen and (max-width: 767px) {
   .cards {
      padding: 0px;
      grid-template-columns: repeat(1, 1fr);
      margin-top: 25px;
      row-gap: 20px;
   }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
   .cards {
      padding: 20px;
      background-color: #f6f6f6;
      grid-template-columns: repeat(2, 1fr);
      margin-top: 45px;
      column-gap: 40px;
      row-gap: 40px;
      border-radius: 25px;
   }
}
@media screen and (min-width: 1024px) {
   .cards {
      padding: 50px;
      background-color: #f6f6f6;
      grid-template-columns: repeat(3, 1fr);
      margin-top: 45px;
      column-gap: 60px;
      row-gap: 60px;
      border-radius: 25px;
   }
}
section {
   .cards {
      width: 100%;
      height: auto;
      display: grid;
   }
}
