@font-face {
   font-family: Montserrat;
   src: url('./assets//font/Montserrat/Montserrat-Regular.ttf');
   font-weight: 400;
   font-style: normal;
}
@font-face {
   font-family: Montserrat;
   src: url('./assets/font/Montserrat/Montserrat-Medium.ttf');
   font-weight: 500;
   font-style: normal;
}
* {
   font-family: 'Montserrat';
   box-sizing: border-box;
}
body {
   padding: 0;
   margin: 0;
}
a {
   color: #000;
   text-decoration: none;
}
@media screen and (max-width: 767px) {
   header,
   section {
      padding: 0 20px;
   }
   section {
      margin: 20px 0;
   }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
   header,
   section {
      padding: 0 55px;
   }
   section {
      margin: 33px 0;
   }
}
@media screen and (min-width: 1024px) {
   header,
   section {
      padding: 0 100px;
   }
   section {
      margin: 50px 0;
   }
}
